<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Pokémon Info</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/teamlist.css') }}">
</head>
<body>
<div class="header_container">
    <div class="pokeball_image_container">
        <img class="pokeball_image" src="static/images/pokeball_icon.png">
    </div>
    <div class="header_name_container">
        <header>
            <a href="/" class="nav_link">HOME</a>
        </header>
    </div>
    <div class="pokeball_image_container">
        <img class="pokeball_image" src="static/images/pokeball_icon.png">
    </div>
</div>
<div class="all_teams_container">
{% for member in team_members %}
    <div class="member_container">
        <h1 class="member_name">{{ member.name }}'s Team <a href="{{ url_for('edit_member', member_index=loop.index) }}" class="edit_link">Edit</a></h1>
        <div class="pokemon_container">
            <table>
                <tr>
                    {% for pokemon in member.pokemon %}
                        <td>
                            <img class="pokemon_in_team_image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.number }}.png" alt="{{ pokemon.name }}">
                            <p class="pokemon_name">{{ pokemon.display_name }}</p>
                        </td>
                        {% if loop.index % 3 == 0 %}
                </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endfor %}
</div>
</body>
</html>